@using HloMoney.Core.Models.Enum
@using HloMoney.Core.Models.Json
@model HloMoney.WebApplication.Models.ContestViewModel
@{
    ViewBag.Title = "Конкурс #" + Model.Id;
}
<h1 class="page-title">
    @ViewBag.Title
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        <a class="btn btn-default" href="javascript:DeleteContest('@Model.Id')">Удалить</a>
    }
    <div id="vk_like"></div>
</h1>
<p class="lottery-gift">Приз: @Model.Gift</p>
<div class="row">
    <div class="col-md-6 lottery-image-container">
        @if (Model.Image != null)
        {
            <img alt="" class="lottery-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)"/>
        }
        else
        {
            <img alt="" class="lottery-image" src="~/Content/Images/no-image.jpg"/>
        }
    </div>
    <div class="col-md-6">
        <div class="lottery-description">@Html.Raw(Model.Description)</div>
    </div>
</div>

<div class="comments">
    <h1>Комментарии</h1>
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", { limit: 10, width: "665", attach: "*" });
    </script>
</div>

@if (User.IsInRole("Administrator"))
{
    <script type="text/javascript">
        function DeleteContest(contestId) {
            $.post('@Url.Action("Delete")',
                { id: parseInt(contestId) },
                function(responce) {
                    if (responce.status === "OK") {
                        growlSuccess(responce.message);

                        setTimeout(function() {
                                document.location = '@Url.Action("Index", "Home")';
                            },
                            2000);
                    } else {
                        growlError(responce.message);
                    }
                });
        }
    </script>
}
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button", verb: 1, height: 30});
</script>