@using HloMoney.Core.Models.Enum
@using HloMoney.Core.Models.Json
@model HloMoney.WebApplication.Models.ContestViewModel
@{
    ViewBag.Title = "Конкурс #" + Model.Id;
}
<h1 class="page-title">
    @ViewBag.Title

    @if (Model.Type != ContestType.CommentTime && Model.Type != ContestType.Standart)
    {
        <a class="btn btn-success" href="javascript:TakePart('@Model.Id')">Участвовать!</a>
    }

    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    }
    <div id="vk_like"></div>
</h1>
<p class="contest-gift">Приз: @Model.Gift</p>
<div class="row">
    <div class="col-md-12">
        @if (Model.Image != null)
        {
            <img alt="" class="contest-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
        }
        else
        {
            <img alt="" class="contest-image" src="~/Content/Images/no-image.png" />
        }
        <div class="contest-description">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>

@Html.Action("ContestMembers", new { contestId = Model.Id })

<div class="comments">
    <h1>Комментарии</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="well">
            <h3>Оставить комментарий (осталось <span id="comment-text-len">255</span> символов)
            </h3>
            <div class="form-group">
                <textarea class="form-control" id="comment-text" maxlength="255"></textarea>
            </div>
            <div class="form-group">
                <a href="javascript:AddComment()" class="btn btn-primary">Написать</a>
            </div>
        </div>
    }
    else
    {
        <h3>Чтобы оставить комментарий вы должны @Html.ActionLink("войти", "Auth", "Account", new { returnUrl = Url.Action("Details", new { id = Model.Id })}, null)</h3>
    }
    @Html.Action("GetCommentList", "Comment")
</div>

@if (User.IsInRole("Administrator"))
{
    <script type="text/javascript">

        $('#comment-text')
            .on('input',
                function () {
                    if (checkMaxLength($(this).val(), $(this).attr('maxlength'))) {
                        $('#comment-text-len').text();
                        $('#comment-text-len').text($(this).attr('maxlength') - $(this).val().length);
                    }
                });

        function checkMaxLength(text, limit) {
            return text.length <= limit;
        }

        function AddComment() {

        }

        function DeleteContest(contestId) {
            $.post('@Url.Action("Delete")',
                { id: parseInt(contestId) },
                function (responce) {
                    if (responce.status === "OK") {
                        growlSuccess(responce.message);

                        setTimeout(function () {
                            document.location = '@Url.Action("Index", "Home")';
                        },
                            2000);
                    } else {
                        growlError(responce.message);
                    }
                });
        }
    </script>
}
<script type="text/javascript">
    VK.Widgets.Like("vk_like", { type: "button", verb: 1, height: 30 });
</script>