@model HloMoney.WebApplication.Models.ContestEditViewModel
@{
    ViewBag.Title = "Изменить информацию конкурса";
}

<h2 class="page-title">@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Contest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Image)
            @Html.ValidationSummaryStyled(false)

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gift)
                @Html.EditorFor(model => model.Gift, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gift, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type)
                @Html.DropDownListFor(model => model.Type, ViewBag.Types as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "type" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WinnerCount)
                @Html.EditorFor(model => model.WinnerCount, new { htmlAttributes = new { @class = "form-control", type = "number", min = 1 } })
                @Html.ValidationMessageFor(model => model.WinnerCount, "", new { @class = "text-danger" })
            </div>

            <div id="select-time">
                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime)
                    @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @id = "endtime" } })
                    @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Изображение</label>
            <br />
            @if (Model.Image != null && Convert.ToBase64String(Model.Image) != String.Empty)
            {
                <img alt="" id="contest-image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />
            }
            else
            {
                <img alt="" id="contest-image" src="~/Content/Images/no-image.png" />
            }

            <div class="form-group image-changer">
                <a href="#" class="btn btn-primary">Выбрать изображение</a>
                <input type="file" name="uploadContestImage" id="uploadContestImage" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        @Html.ActionLink("Отмена", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
}

<script type="text/javascript">

    $(function () {
        $("#starttime").datepicker({ dateFormat: 'dd.mm.yy' });
        $("#endtime").datepicker({ dateFormat: 'dd.mm.yy' });

        if ($('#type').val() === '0') {
            $('#select-time').css('display', 'none');
        }
    });

    tinymce.init({
        selector: 'textarea',
        plugins: 'code'
    });

    $('#type')
        .on('change',
            function () {
                if ($(this).val() === '0') {
                    $('#select-time').css('display', 'none');
                } else {
                    $('#select-time').css('display', 'block');
                }
            });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#contest-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#uploadContestImage")
        .change(function() {
            readURL(this);
        });
</script>