@model HloMoney.WebApplication.Models.ContestViewModel
<div class="comments">
    <h1>Комментарии</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="well">
            <h3>
                Оставить комментарий (осталось <span id="comment-text-len">255</span> символов)
            </h3>
            <div class="form-group">
                <textarea class="form-control" id="comment-text" maxlength="255"></textarea>
            </div>
            <div class="form-group">
                <a href="javascript:AddComment()" class="btn btn-primary">Написать</a>
                <span id="comment-error" class="text-danger"></span>
            </div>
        </div>
    }
    else
    {
        <h3>Чтобы оставить комментарий вы должны @Html.ActionLink("войти", "Auth", "Account", new { returnUrl = Url.Action("Details", "Contest", new { id = Model.Id }) }, null)</h3>
    }
    <div id="comments">
    </div>
    <div class="btn-group-justified">
        <a href="javascript:loadMoreComments()" class="btn btn-custom btn-lg" id="load-more">Показать все (<span id="comment-count"></span>)</a>
    </div>
</div>

<script type="text/javascript">
    //var pageIndex = 1;
    window.FirstComment = 0;
    window.LastComment = 0;

    $(document)
        .on('ready',
            function () {
                GetCommentCount();
                LoadComments();
                setInterval(function () {
                    if ($('#comment-count').text() !== '0') {
                        if (typeof CheckPart !== 'undefined' && $.isFunction(CheckPart)) {
                            CheckPart();
                        }
                        LoadNewComments();
                    }
                },
                1000);
            });

    function loadMoreComments() {
        $('#load-more').addClass('disabled');
        $('#load-more').html('<div id="loader"></div>');
        new imageLoader('startAnimation()');

        $.get('@Url.Action("GetOldCommentList", "Comment")',
            { contestId: parseInt('@Model.Id'), lastCommentId: parseInt(window.FirstComment) },
            function (responce) {
                $('#comments').append(responce);
                $('#load-more').css('display', 'none');
            });
    }

    $('#comment-text')
        .on('input',
            function () {
                if (checkMaxLength($(this).val(), $(this).attr('maxlength'))) {
                    $('#comment-text-len').text();
                    $('#comment-text-len').text($(this).attr('maxlength') - $(this).val().length);
                }
            });

    function checkMaxLength(text, limit) {
        return text.length <= limit;
    }

    function AddComment() {
        $('#comment-error').text('');

        $.post('@Url.Action("Create", "Comment")',
            { text: $('#comment-text').val(), contestId: parseInt('@Model.Id') },
            function (responce) {
                if (responce.status === "NO") {
                    $('#comment-error').text(responce.message);
                } else {
                    $('#comment-text').val('');
                }
            });
    }

    function GetCommentCount() {
        $.get('@Url.Action("GetCommentCount", "Comment")',
            { contestId: parseInt('@Model.Id') },
            function (responce) {
                if (responce === '0') {
                    $('#comments').html('<h2>Комментариев нет</h2>');
                    $('#load-more').css('display', 'none');
                }

                $('#comment-count').html(responce);
            });
    }

    function LoadComments() {
        $.get('@Url.Action("GetCommentList", "Comment")',
            { page: null, contestId: parseInt('@Model.Id') },
            function (responce) {
                new imageLoader('stopAnimation()');
                $('#comments').append(responce);
                $('#load-more').removeClass('disabled');
                $('#load-more').html('Показать все (<span id="comment-count"></span>)');

                GetCommentCount();

                if ($('#last-comment').val() !== '0') {
                    window.LastComment = $('#last-comment').val();
                }

                $('#last-comment').remove();

                if ($('#first-comment').val() !== '0') {
                    window.FirstComment = $('#first-comment').val();
                }
                $('#first-comment').remove();
                @if (ViewBag.IsCommentType != null && ViewBag.IsCommentType)
                {
                    <text>
                //при загрузке проверяет участие. Находится в CommentDetails.cshtml
                CheckPart();
                //Перезагружаем время
                ReloadContestTime();
                </text>
                }
            });
    }

    function LoadNewComments() {
        $.get('@Url.Action("GetNewCommentList", "Comment")',
            { contestId: parseInt('@Model.Id'), lastCommentId: parseInt(window.LastComment) },
            function (responce) {
                if (responce !== 'Null') {
                    $('#comments').prepend(responce);
                    if ($('#last-comment').val() !== '0') {
                        window.LastComment = $('#last-comment').val();
                    }
                    $('#last-comment').remove();
                    @if (ViewBag.IsCommentType != null && ViewBag.IsCommentType)
                    {
                        <text>
                    //при загрузке проверяет участие. Находится в CommentDetails.cshtml
                    CheckPart();
                    //Перезагружаем время
                    ReloadContestTime();
                    </text>
                    }
                }
            });
    }

</script>