<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="Description" content="Море призов ежедневно! Новые конкурсы постоянно!!!">
    <meta name="Keywords" content="бесплатно, free, money, free goods, бесплатные вещи, розыгрыши, конкурсы, contests, hlohlo, hlomoney, комментарии, глобальный">
    <link rel="icon" type="image/png" href="../../favicon.ico" />
    <title>@ViewBag.Title - HloMoney</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?132"></script>

    <script type="text/javascript">
        VK.init({ apiId: 5636156, onlyWidgets: true });
    </script>
</head>
<body>
    <div class="content-wrapper">
        @Html.Partial("_NavBar")
        <div class="container body-content">
            <div class="wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="contest-blur">
        <div class="container">
            <hr class="page-splitter" />
            @Html.Partial("_Footer")
        </div>
    </div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up"></span></a>

    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter40556085 = new Ya.Metrika({
                        id: 40556085,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
