<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="Description" content="Море призов ежедневно! Новые конкурсы постоянно!!!">
    <meta name="Keywords" content="бесплатно, free, money, free goods, бесплатные вещи, розыгрыши, конкурсы, contests, hlohlo, hlomoney, комментарии, глобальный">
    <link rel="icon" type="image/png" href="../../favicon.ico" />
    <title>@ViewBag.Title - HloMoney</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?132"></script>

    <script type="text/javascript">
        VK.init({ apiId: 5636156, onlyWidgets: true });
    </script>
</head>
<body>
    <div class="content-wrapper">
        @Html.Partial("_NavBar")
        <div class="container body-content">
            <div class="wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="contest-blur">
        <div class="container">
            <hr class="page-splitter" />
            @Html.Partial("_Footer")
        </div>
    </div>
    <a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    @RenderSection("scripts", required: false)
</body>
</html>
