
@{
    ViewBag.Title = "Отзывы пользователей";
}

<h2 class="page-title">@ViewBag.Title</h2>
<div class="report-mark-overall">
    @if (ViewBag.OverallMark != null && ViewBag.OverallMark > 0)
    {
        <h3>Общая оценка пользователей: @ViewBag.OverallMark</h3>
    }
    @if (User.Identity.IsAuthenticated && Html.Action("IsAlreadyReported").ToString() == "False")
    {
        @Html.ActionLink("Добавить отзыв", "Create", null, new { @class = "btn btn-success" });
    }
</div>

<div id="reports">
    @Html.Action("GetReportList")
</div>

<div class="btn-group-justified">
    <a href="javascript:loadMoreReports()" class="btn btn-custom btn-lg" id="load-more">Показать еще</a>
</div>

<script type="text/javascript">
    var pageIndex = 1;

    $(document)
        .on('ready',
            function() {
                checkReportLoading();
            });

    function checkReportLoading() {
        $.get('@Url.Action("IsAllReportsLoaded")',
            { index: parseInt(pageIndex) },
            function (responce) {
                if (responce === "True") {
                    $('#load-more').css('display', 'none');
                }
            });
    }

    function loadMoreReports() {
        $('#load-more').html('<span class="loader"></span>');
        pageIndex++;
        getReports();
    }

    $(window).scroll(function () {
        if ($(window).scrollTop() === $(document).height() - $(window).height()) {
            
        }
    });

    function getReports() {
        $.get('@Url.Action("GetReportList")',
            { page: pageIndex },
            function(responce) {
                $('#reports').append(responce);
                $('#load-more').html('Показать все текущие');
                checkReportLoading();
            });
    }

</script>