<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HloMoney</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?132"></script>

    <script type="text/javascript">
        VK.init({ apiId: 5636156, onlyWidgets: true });
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
